tr {
	color: green;
}

tr td {
	font-weight: 900;
}

.smolcaps {
	text-decoration: underline;
	font-weight: 200;
}

.smolcaps {
	font-variant: small-caps;
}

#wideone {
	font-weight: 900;
}

h1 {
	background-color: coral;
}

.titanic {
	font-style: oblique;
	background-color: black;
	color: white;
}