tr
{
    color: green;
    td
    {
        font-weight:900;
    }
}

%emphasize
{
    text-decoration: underline;
    font-weight: 200;
}
.smolcaps
{
    @extend %emphasize;
    font-variant: small-caps;
}

#wideone
{
    font-weight: 900;
}
h1
{
    background-color: coral;
}
.titanic
{
    font-style: oblique;
    background-color: black;
    color: white;
}